@font-face {
    font-family: 'aga bold';
    src: url('../fonts/aga\ bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    height: 100px;
    width: calc(100% - 2px);
    display: flex;
    justify-content: center;

}

.footer-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-family: 'aga bold';
}

footer .middle-footer-item {
    margin: 0 50px 0;
}

.footer-item h2 {
    margin: 0;
    color: #fac86b;
    font-size: 1.9em;
}

.footer-item p {
    margin: 0;
    color: white;
    font-size: 2.5em;
}

.ray {
    height: 3px;
    width: 140px;
    margin-bottom: 7px;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.1), #fac86b34, #fac86b34, #fac86b34, rgba(0, 0, 255, 0));
}