header {
    height: 60px;
    width: calc(100% - 4px);
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header span {
    border: 2px solid green;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}


/* header .logo {
    background-image: url('../imgs/mrt_logo.png');
    background-size: cover;
    height: 50px;
    width: 135px;
} */