body {
    margin: 0;
    height: 100%;
    background-color: #100C2A;
    color: white;
}

header {
    height: 60px;
    width: calc(100% - 4px);
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header .logo {
    background-image: url('../imgs/mrt_logo.png');
    background-size: cover;
    height: 50px;
    width: 135px;
}