/* Gauges */

.gauge-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 54px - 108px);
}

.gauge {
  width: 100%;
  height: 100%;
}


/* Card */
.card {
  width: 500px;
  height: 300px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  /* box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px; */
  display: flex;
  color: white;
  justify-content: start;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), #100c2a32);
  transition: all 0.3s ease-in-out;  
  border: 2px solid #fac86b9c;
  text-justify: center;
  text-align: center;
}

.card-item {
  margin-top: 15%;
  font-family: 'aga bold';
}

.card-item h2 {
  font-size: 1.9em;
  color: #fac86b;
}

.card-item p {
  font-size: 2.5em;
}


/* Blinkers */
.blinkers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
}


.arrow-left {
	position: relative;
	height: 0px; width: 0px;
	border: 12px solid;
	border-color: 
		darkcyan
		darkcyan
		transparent
		transparent;
	transform: rotate(225deg); 
}

.arrow-left:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 12px; width: 16px;
	background-color: darkcyan;
	transform: 
	rotate(-45deg) 
	translate(2px, 1px);
}


.arrow-right {
	position: relative;
	height: 0px; width: 0px;
	border: 12px solid;
	border-color: 
		darkcyan
		darkcyan
		transparent
		transparent;
	transform: rotate(45deg); 
}

.arrow-right:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 12px; width: 16px;
	background-color: darkcyan;
	transform: 
	rotate(-45deg) 
	translate(2px, 1px);
}
