.gauge-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 54px - 102px);
}

.gauge {
  width: 100%;
  height: 100%;
}

.card {
  width: 230px;
  height: 300px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), #100c2a32);
  /* background: linear-gradient(to right, #100c2a32, #100c2a32); */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.time-text {
  font-size: 50px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
  font-size: 15px;
  margin-left: 5px;
}

/* .moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
} */